* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0b0b;
    color: white;
    text-align: center;
    transition: background 0.6s;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #001f3f, #0074D9);
    padding: 70px 20px;
}

.hero h1 {
    font-size: 60px;
    margin: 0;
}

.hero p {
    font-size: 18px;
    margin: 10px 0 25px;
}

/* BUTTON */
.power-btn {
    padding: 14px 35px;
    font-size: 16px;
    font-weight: bold;
    background: #ff4136;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.power-btn:hover {
    background: #ff851b;
    transform: scale(1.1);
}

/* SECTIONS */
section {
    padding: 50px 20px;
}

.about p {
    max-width: 750px;
    margin: auto;
    font-size: 18px;
}

.powers ul {
    list-style: none;
    padding: 0;
}

.powers li {
    font-size: 18px;
    margin: 12px 0;
}

/* IMAGE */
.image img {
    width: 320px;
    max-width: 90%;
    border-radius: 14px;
    border: 3px solid #00aaff;
    box-shadow: 0 0 25px #00aaff;
    transition: 0.4s;
}

/* POWER MODE */
.power-on {
    background: radial-gradient(circle, #001f3f, #000);
}

.power-on img {
    box-shadow: 0 0 40px #00ffff;
}

/* FOOTER */
footer {
    background: #000;
    padding: 15px;
    font-size: 14px;
}

/* MOBILE */
@media (max-width: 600px) {
    .hero h1 {
        font-size: 42px;
    }
}
